body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}


.mainContainer{
    width: 100%;
    height: 1080px;
}
.headerContainer{
    width: 100%;
    height: 35%;
    transform: scale(1.3);
    background-image: url(../Materials/headerbackground.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 55px;

}

.headerTextContainer{ 
    right: 20%;
    padding: 7% 22%;
    height: 60%;
    text-align: left;
    color: white;
}
.headerTextContainer h2 {
  font-size: 75%;
  font-weight: 200;
}
.headerTextContainer h1 {
  font-size: 170%;
  font-weight: 400;
}
.headerTextContainer button{
    font-size: 10px;
    background-color: #2d75c7;
    color: #ffe9e9; width: 12%; height: 13%;
    right: 45%;
    border: none;
}
h2{
    font-size: 20px;
}
h1{
    font-size: 50px;
}

.midContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
  }
  
  .adContainer1,
  .adContainer2,
  .adContainer3 {
    position: relative;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -115%;
  }
  .adContainer1 img:hover,
  .adContainer2 img:hover {
    cursor: pointer;
    filter: brightness(1.4);
    transition: 0.5s;
  }

  .adContainer3 img:hover {
    cursor: pointer;
    filter: brightness(1.1);
    transition: 0.5s;
  }
  
  .adContainer1 img,
  .adContainer2 img,
  .adContainer3 img {
    position: relative;
    width: 75%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.0.5);
    margin: 0%;
  }
  .adContainer2 .opacityblack{
    display: flex;
    position: absolute;
    bottom: 0%;
    width: 75%;
    height: 30%;
    background-color: black;
    opacity: 0.9;
    z-index: 1;
  }
  
  .adContainer1 .textOverlay {
    position: absolute;
    bottom: 10%;
    left: 17%;
    z-index: 1;
  }
  .adContainer2 .textOverlay2 {
    position:absolute;
    z-index: 2;
    text-align: start;
    top: 70%;
  }
  .adContainer3 .textOverlay3 {
    position: absolute;
    bottom: 5%;
    left: 16%;
    z-index: 1;
  }
  .textOverlay h3,
  .textOverlay2 h3,
  .textOverlay3 h3 {
    cursor: pointer;
    font-size: 20px;
    color: white;
    font-weight: 550;
  }
  .textOverlay3 h4 {
    color: white;
  }

  .parentMiddle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dikkat {
    width: 70%;
    height: 350px;
    background-color: black;
  }

  .promoContainerParent {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .promoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 200px;
  }

  .promoContainer1 {
    width: 45%;
    height: 100%;
    background-color: rgb(242,245,249);
    display: flex;
    justify-content: start;
  }

  .pro1 {
    flex-grow: 2;
    background-color: aqua;
    background: url(../Materials/promo1.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1.0);
    max-width: 35%;
  }

  .pro1text{
    margin-left: 2%;
    margin-top: 10%;
    max-width: 65%;
  }

  .promoContainer2 {
    width: 45%;
    height: 100%;
    background-color: rgb(242,245,249);
    display: flex;
    margin-left: 3%;
    justify-content: start;
  }
  
  .pro2 {
    flex-grow: 2;
    background-color: aqua;
    background: url(../Materials/promo2.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1.0);
    max-width: 35%;
  }

  .pro2text{
    margin-left: 2%;
    margin-top: 10%;
    max-width: 65%;
  }

  .pro1text h3,
  .pro2text h3 {
    font-weight: 500;
  }

  .pro1text h5,
  .pro2text h5 {
    font-weight: 100;
    opacity: 0.5;
  }

  .promoContainer1:hover,
  .promoContainer2:hover {
    cursor: pointer;
    filter: brightness(0.9);
    transition: 0.3s;
  }

  .SContainerParent {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .SContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 400px;
  }
  
  .SContainer1 {
    height: 100%;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 3%;
  }

  .SContainer1Ad {
    margin-top: -4%;
    position: relative;
    width: 100%;
    height: 80%;
    background: url(../Materials/s1.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1.0);
  }

  .SContainer1Text {
    width: 100%;
    height: 20%;
    text-align: center;
  }

  .SContainer2 {
    height: 100%;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 3%;
  }

  .SContainer2Ad {
    margin-top: -4%;
    position: relative;
    width: 100%;
    height: 80%;
    background: url(../Materials/s2.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1.0);
  }

  .SContainer2Text {
    width: 100%;
    height: 20%;
    text-align: center;
  }

  .SContainer3 {
    height: 100%;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .SContainer3Ad {
    margin-top: -4%;
    position: relative;
    width: 100%;
    height: 80%;
    background: url(../Materials/s3.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1.0);
  }

  .SContainer3Text {
    width: 100%;
    height: 20%;
    text-align: center;
  }
  


.img-container img {
    width: 75%;
    height: auto;
}

footer {
    margin-top: 50px;
    background-color: black;
    height: auto;
    width: 100%;
    padding-bottom: 50px;
}

footer .content .primary,
footer .content .second {
    width: 100%;
    color: white;
}

footer .content {
    display: flex;
    gap: 20px;
    padding: 0 120px;
}

.textnone {
    text-decoration: none;
}

.link {
    color: white;
    margin-bottom: 10px;
}

.link:last-child {
    margin-bottom: 0;
}

.link:hover,
.link:active {
    color: rgb(142, 142, 142);
    transition: color 0.5s ease;
}

.input-container {
    border: 2px solid #3C3C42;
    width: 280px;
    padding: 5px;
    border-radius: 3px;
}

.input-container input {
    background-color: black;
    border: 1px solid black;
    height: 30px;
    margin-left: 5px;
}

.input-container button {
    background-color: #2D75C7;
    border: 1px solid #81ACDD;
    border-radius: 3px;
    padding: 5px 15px;
    height: 30px;
    cursor: pointer;
    color: white;
}

.input-container button:hover,
.input-container button:active {
    background-color: #1a5eac;
    border: 1px solid #689fdd;
}

.input-container svg {
    fill: #D24615;
    width: 15px;
    height: 15px;
}

.row1 {
    gap: 15px;
    padding: 0 120px;
    margin-top: 75px;
}

.row2 {
    padding: 0 120px;
}


/*DİKKAT ÇEKENLER*/

.parentFlex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  background-color: white;
  height: 500px;
  justify-content: center;
  width: 70%;
}

.flex-container > div {
  display: flex;
  background-color: white;
  width: 481.2px;
  margin: 10px;
  margin-bottom: 70px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}



.left-piece{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top-piece{
  height: 40%;
  width: 92%;
  margin: 2%;
  background-color: #0179ac;
  color: white;

}

.EISA {
  margin: 0;
  font-size: 1.9375rem;
  font-family: SST W01 Medium,sans-serif;
  text-align: left;
  padding-left: 30px;
  padding-top: 10px;
}

.bottomPart{
  width: 30%;
  margin: 2%;
  height: 60%;
}

.bottomPart:hover, .rightPart:hover {
  cursor: pointer;
  filter: brightness(0.9);
  transition: 0.3s;
}


.bottomPart img{
  width: 80%;
  background-color: rgb(238, 245, 245);
}


.bottom-piece{
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-piece{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.right-piece img{
  width: 75%;
  background-color: rgb(238, 245, 245);
}


.text{
  font-size: 12px;
  line-height: 12px;
  font-family: sans-serif;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }




/*HEADER*/


.header{
  display: flex;
  justify-content: center;
  background-color: black;
  margin-left: -2%;
  width: 104%;
}



.mleft{
  width: 50%;
  display: flex;
  justify-content: left;

}

.mright{
  width: 50%;

  display: flex;
  justify-content: right;
}



.innerImage {
  opacity: 1;
  transition: .2s ease;
  cursor: pointer;
}


.innerImage:hover{
  opacity: 0.5;
}

.buttonn {
  border: none;
  text-align: center;
  transition: 0.2s;
  cursor: pointer;
}

.buttonn:hover {background-color: #1a5eac;}

.mright {
  padding-right: 50px;
}

.innerLeftImage{
  padding-left: 50px;
}



