@font-face{
    font-family: Betm;
    src: url(../Materials/BetmThin.otf);
}

.mainContainer{
    width: 100%;
    height: 1080px;
}
.headerContainer{
    width: 100%;
    height: 35%;
    background-image: url(../Materials/headerbackground.webp);
    background-size: 100%;
    background-repeat: no-repeat;
}

.headerTextContainer{
    width: 40%;
    padding: 80px;
    height: 100%;
    text-align: left;
    font-family: Betm;
    color: white;
}
button{
    font-size: 15px;
    background-color: #2d75c7;
    color: #ffe9e9; width: 150px; height: 40px;
}
h2{
    font-size: 20px;
}
h1{
    font-size: 50px;
}

.midContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
  }
  
  .adContainer1,
  .adContainer2,
  .adContainer3 {
    width: 25%;
    height: 85%;
  }
  
  .adContainer1 img,
  .adContainer2 img,
  .adContainer3 img {
    position: relative;
    width: 100%;
    height: 500px;
    object-fit: cover;
    transform: scale(1.0);
  }
  .opacityblack{
    position: absolute;
    bottom: -4.5%;
    width: 473px;
    height: 120px;
    background-color: black;
    opacity: 0.9;
    z-index: 1;
  }
  
  .textOverlay {
    position: absolute;
    bottom: 10px;
    left: 130px;
  }
  .textOverlay2 {
    position: relative;
    margin-top: -145px;
    padding: 10px;
    z-index: 1;
  }
  .textOverlay3 {
    position: absolute;
    bottom: 10px;
    left: 1310px;
    z-index: 1;
  }
  .textOverlay h3,
  .textOverlay2 h3,
  .textOverlay3 h3 {
    font-size: 28px;
    color: white;
  }