body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.mainContainer{
    width: 100%;
    height: 1080px;
}
.headerContainer{
    width: 100%;
    height: 35%;
    transform: scale(1.3);
    background-image: url(../Materials/headerbackground.webp);
    background-size: 100%;
    background-repeat: no-repeat;
}

.headerTextContainer{ 
    right: 20%;
    padding: 7% 22%;
    height: 60%;
    text-align: left;
    color: white;
}
.headerTextContainer h2 {
  font-size: 75%;
  font-weight: 200;
}
.headerTextContainer h1 {
  font-size: 170%;
  font-weight: 400;
}
.headerTextContainer button{
    font-size: 10px;
    background-color: #2d75c7;
    color: #ffe9e9; width: 12%; height: 13%;
    right: 45%;
    border: none;
}
h2{
    font-size: 20px;
}
h1{
    font-size: 50px;
}

.midContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
  }
  
  .adContainer1,
  .adContainer2,
  .adContainer3 {
    position: relative;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -115%;
  }
  .adContainer1 img:hover,
  .adContainer2 img:hover {
    cursor: pointer;
    filter: brightness(1.4);
    transition: 0.5s;
  }

  .adContainer3 img:hover {
    cursor: pointer;
    filter: brightness(1.1);
    transition: 0.5s;
  }
  
  .adContainer1 img,
  .adContainer2 img,
  .adContainer3 img {
    position: relative;
    width: 75%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.0.5);
    margin: 0%;
  }
  .adContainer2 .opacityblack{
    display: flex;
    position: absolute;
    bottom: 0%;
    width: 75%;
    height: 30%;
    background-color: black;
    opacity: 0.9;
    z-index: 1;
  }
  
  .adContainer1 .textOverlay {
    position: absolute;
    bottom: 10%;
    left: 17%;
    z-index: 1;
  }
  .adContainer2 .textOverlay2 {
    position:absolute;
    z-index: 2;
    text-align: start;
    top: 70%;
  }
  .adContainer3 .textOverlay3 {
    position: absolute;
    bottom: 5%;
    left: 16%;
    z-index: 1;
  }
  .textOverlay h3,
  .textOverlay2 h3,
  .textOverlay3 h3 {
    cursor: pointer;
    font-size: 20px;
    color: white;
    font-weight: 550;
  }
  .textOverlay3 h4 {
    color: white;
  }

  .parentMiddle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dikkat {
    width: 70%;
    height: 350px;
    background-color: black;
  }

  .promoContainerParent {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .promoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 200px;
  }

  .promoContainer1 {
    width: 45%;
    height: 100%;
    background-color: rgb(242,245,249);
    display: flex;
    justify-content: start;
  }

  .pro1 {
    flex-grow: 2;
    background-color: aqua;
    background: url(../Materials/promo1.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1.0);
    max-width: 35%;
  }

  .pro1text{
    margin-left: 2%;
    margin-top: 10%;
    max-width: 65%;
  }

  .promoContainer2 {
    width: 45%;
    height: 100%;
    background-color: rgb(242,245,249);
    display: flex;
    margin-left: 3%;
    justify-content: start;
  }
  
  .pro2 {
    flex-grow: 2;
    background-color: aqua;
    background: url(../Materials/promo2.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1.0);
    max-width: 35%;
  }

  .pro2text{
    margin-left: 2%;
    margin-top: 10%;
    max-width: 65%;
  }

  .pro1text h3,
  .pro2text h3 {
    font-weight: 500;
  }

  .pro1text h5,
  .pro2text h5 {
    font-weight: 100;
    opacity: 0.5;
  }

  .promoContainer1:hover,
  .promoContainer2:hover {
    cursor: pointer;
    filter: brightness(0.9);
    transition: 0.3s;
  }

  