@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lilita+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(27, 27, 27);
}

h1, li, a, button {
    font-family: 'Lilita One', cursive;
    font-weight: 500;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.712);
    text-decoration: none;
}

header {
    display:flex;
    justify-content:flex-start;
    align-items: center;
    padding: 30px 10%;
}

h1{
    cursor: pointer;
    padding-right: 20px;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: aqua;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 169, 79, 0.7);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 169, 79, 0.4);
}

select{
    border:none;
    padding: 10px 20px;
    border-radius:5px;
    background-color: whitesmoke;
  }
  
  select:focus{
    outline:none;
    background-color: whitesmoke;
    color: white
  }
  input {
    color: black;
    background-color: whitesmoke;
  }
  