.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.babyContainer {
    width: 850px;
    height: 400px;
    display: flex;
}
.profile1 {
    width: calc(100% / 3);
    height: 100%;
    margin-right: 2%;
    border-radius: 24px;
    box-shadow: 0px 5px #8888887c;
}

.profile2 {
    width: calc(100% / 3);
    height: 100%;
    margin-right: 2%;
    border-radius: 24px;
    box-shadow: 0px 5px #8888887c;
}

.profile3 {
    width: calc(100% / 3);
    height: 100%;
    border-radius: 24px;
    box-shadow: 0px 5px #8888887c;
}

.profile1,
.profile2,
.profile3 {
    width: 100%;
    margin-bottom: 2%;
}

.header {
    width: 100%;
    height: 10%;
    background-color: rgba(128, 128, 128, 0.303);
    border-top-left-radius:24px ;
    border-top-right-radius:24px;
    display: flex;
}
.ballparent {
    margin-left: 3%;
    margin-top: 1%;
    width: 13%;
    height: 83%;
    display: flex;
}
.ball {
    display: block;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    height: 100%;
    width: 100%;
    
}
.textParent {
    margin-top: -10%;
    margin-left: 2%;
    width: 35%;
    height: 50%;
    font-size: 19.3px;
}

.text2 {
    color: white;
    margin-left: -35%;
    margin-top: -2%;
    width: 35%;
    height: 50%;
    font-size: 19.3px;
}

.pp1 {
    width: 100%;
    height: 60%;
    background: url(./assets/corgi.jpg);
    background-size: cover;
}

.pp2 {
    width: 100%;
    height: 60%;
    background: url(./assets/husky.webp);
    background-size: cover;
}

.pp3 {
    width: 100%;
    height: 60%;
    background: url(./assets/sausage.jpg);
    background-size: cover;
}

.iconparents {
    width: 80%;
    height: 10%;
    display: flex;
    align-items: start;
    justify-content: center;
    margin: 0% 1%;
}

.icons1 {
    margin-top: 4%;
    margin-left: -50%;
    width: 10%;
    height: 55%;
    background: url(./assets/heart.png);
    background-size: cover;
}

.icons2 {
    margin-top: 4%;
    margin-left: 7%;
    margin-right: 7%;
    width: 10%;
    height: 55%;
    background: url(./assets/chat.png);
    background-size: cover;
}

.icons3 {
    margin-top: 4%;
    width: 10%;
    height: 55%;
    background: url(./assets/send.png);
    background-size: cover;
}

.postarea {
    width: 90%;
    height: 20%;
    margin-left: 2%;
}

@media screen and (max-width: 375px) {
    .babyContainer {
        width: auto;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }

    .profile1,
    .profile2,
    .profile3 {
        height: 480px;
        width: 100%;
    }
    .textParent {
        margin-top: -7%;
    }
}
