body {
  width: 60em;
  margin: 0 auto;
}

section {
  padding: 2em;
  margin: 1em;
  grid-template-areas: "green green green";
}
section.grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100px 100px 100px 100px 100px;
  grid-template-areas: 
  "green green green green green green"
  "yellow yellow red red blue blue"
  "yellow yellow red red blue blue"
  "orange orange orange orange blue blue";
}

#green {
  background-color: #8ffda7;
  grid-area: green;
}

#orange {
  background-color: #ffc788;
  grid-area: orange;
}

#yellow {
  background-color: #ffff92;
  grid-area: yellow;
}
.yellowgrid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 40px 40px;
  grid-template-areas: 
  "one two"
  "three four";
}
#one {
  text-align: center;
  background-color: white;
  grid-area: one;
}
#two {
  text-align: center;
  background-color: white;
  grid-area: two;
}
#three {
  text-align: center;
  background-color: white;
  grid-area: three;
}
#four {
  text-align: center;
  background-color: white;
  grid-area: four;
}

#red {
  background-color: #ff919c;
  grid-area: red;
}

.redgrid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 40px 40px;
  grid-template-areas: 
  "a b"
  "c d";
}
#a {
  text-align: center;
  background-color: white;
  grid-area: a;
}
#b {
  text-align: center;
  background-color: white;
  grid-area: b;
}
#c {
  text-align: center;
  background-color: white;
  grid-area: c;
}
#d {
  text-align: center;
  background-color: white;
  grid-area: d;
}

#blue {
  background-color: #98d2ff;
  grid-area: blue;
}

ul {
  padding: 0;
}

li {
  background-color: white;
  padding: 1em;
  display: block;
  margin: 1em;
}
