body {
    background-color: var(--primary-color);
}

.ball {
    width: var(--width);
    height: var(--height);
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
}
