* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: SST W01 Roman, sans-serif, Helvetica Neue, Helvetica, Arial;
}

.img-container img {
    width: 75%;
    height: auto;
}

footer {
    margin-top: 50px;
    background-color: black;
    height: auto;
    width: 100%;
    padding-bottom: 50px;
}

footer .content .primary,
footer .content .second {
    width: 100%;
    color: white;
}

footer .content {
    display: flex;
    gap: 20px;
    padding: 0 120px;
}

.textnone {
    text-decoration: none;
}

.link {
    color: white;
    margin-bottom: 10px;
}

.link:last-child {
    margin-bottom: 0;
}

.link:hover,
.link:active {
    color: rgb(142, 142, 142);
    transition: color 0.5s ease;
}

.input-container {
    border: 2px solid #3C3C42;
    width: 280px;
    padding: 5px;
    border-radius: 3px;
}

.input-container input {
    background-color: black;
    border: 1px solid black;
    height: 30px;
    margin-left: 5px;
}

.input-container button {
    background-color: #2D75C7;
    border: 1px solid #81ACDD;
    border-radius: 3px;
    padding: 5px 15px;
    height: 30px;
    cursor: pointer;
    color: white;
}

.input-container button:hover,
.input-container button:active {
    background-color: #1a5eac;
    border: 1px solid #689fdd;
}

.input-container svg {
    fill: #D24615;
    width: 15px;
    height: 15px;
}

.row1 {
    gap: 15px;
    padding: 0 120px;
    margin-top: 75px;
}

.row2 {
    padding: 0 120px;
}