.mainContainer {
    display: flex;
    justify-content: center;
    align-items: top center;
}

.babyContainer {
    position: relative;
    width: 350px;
    height: 450px;
}

.screen {
    width: 100%;
    height: 10.6%;
    background-color: gray;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    text-align:end;
    color: white;
    font-size: 45px;
}
.box {
    font-size: 200%;
    text-align: center;
    border: 1px solid rgba(76, 110, 204, 0.295);
  }
  .box:hover{
    background: #ff96ad;
    box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad, 0 0 200px #ff96ad;
    transition: 1s;
    cursor: pointer;
  }

.emptybox {
    background-color: rgba(201, 57, 86, 0.623);
    font-size: 200%;
    text-align: center;
    cursor: pointer;
}
.emptyboxright {
    background-color: rgba(201, 57, 86, 0.623);
    border-bottom-right-radius: 25px;
    cursor: pointer;
}
  
.rows {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
}