@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lilita+One&display=swap');

:root {
    font-size: 16px;
    font-family: 'Lilita One', cursive;
}
body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

main {
    margin-left: 12rem;
    padding: 1rem;
}

.navbar {
    width: 200px;
    height: 100vh;
    position: fixed;
    background-color: gray;
}
li:hover, span:hover {
    color: #2b2bb2;
    transition: 0.3s;
}
span {
    color: #2b2b2b;
    font-size: 36px;
}

.endList {
    padding-left: 20px;
    margin-top: 350px;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}
body::-webkit-scrollbar-track {
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
    background: #6649b8;
}